body {
    color: white
}
 
h1 {
    display: flex;
    justify-content: center;
    font-size: 40px; 
    color: black;
    
 
}
 
.userInput {
    margin: 30px;
    font-size: 20px;
    color: black;
    border: solid, black, 4px;
    
}
 
.singleinput {
    margin: 30px;
    font-size: 30px;
    color: black; 
 
}
 
img {
    display: flex;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    border: solid,blue, 3px;
 
}
 
